apiVersion: 1

providers:
  - name: "NBD Lab 1"
    orgId: 1
    folder: "NBD Lab 1"
    type: file
    disableDeletion: true
    editable: false
    updateIntervalSeconds: 10
    options:
      path: /var/lib/grafana/dashboards
