MONGODB_HOST=127.0.0.1
MONGODB_PORT={{ mongodb_port }}
MONGODB_DATABASE={{ mongodb_training_db }}
MONGODB_USER={{ mongodb_writer_user }}
MONGODB_PASSWORD={{ vault_writer_password | to_json }}
LOAD_DURATION={{ mongodb_load_duration }}
