[Unit]
Description=MongoDB Load Generator - NBD Lab 1
After=network-online.target mongod.service
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/mongodb-lab1-load
ExecStart=/usr/local/bin/mongodb-lab1-load.py

User=root
Group=root

Restart=no
Nice=10

NoNewPrivileges=true
PrivateTmp=true
