# Managed by Ansible
# NBD Laboratory 1 - MongoDB

storage:
  dbPath: {{ mongodb_db_path }}

systemLog:
  destination: file
  logAppend: true
  path: {{ mongodb_log_path }}

net:
  port: {{ mongodb_port }}
  bindIp: {{ mongodb_bind_ip }}

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

{% if mongodb_effective_authorization | default(mongodb_authorization_enabled | default(false)) %}
security:
  authorization: enabled
{% endif %}
