[Unit]
Description=Percona MongoDB Exporter
After=network.target mongod.service
Requires=mongod.service

[Service]
Type=simple
User=mongodb_exporter
Group=mongodb_exporter

Environment="MONGODB_USER=mongodbMonitor"
Environment="MONGODB_URI=mongodb://127.0.0.1:27017/?authSource=admin"

ExecStart=/bin/sh -c 'export MONGODB_PASSWORD="$(cat /etc/mongodb_exporter/mongodb_monitor_password)"; exec /usr/local/bin/mongodb_exporter --collector.diagnosticdata'

Restart=on-failure
RestartSec=5

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
